.section-footer{

	h3{

		font-size: 20px;

		margin-top: 0;

		color: lighten($black, 100%);

	}

	background-color: #313333;

	padding:{

		top: 30px; 
		
		bottom: 30px;

	}

	.upper-content{

		border-bottom: 1px solid #ccc;

		margin-bottom: 30px;

		padding-bottom: 20px;

	}

	.footer-logo{

		@media #{$break-large, $break-medium, $break-small, $break-little}{

			padding: 0;

			margin-bottom: 10px;

		}

	}

}


.footer-nav{

	padding-left: 0;

	li{

		display: block;

		a{

			font-size: 13px;

			color: lighten($black, 100%);

			outline: none;

			&:hover, &:focus{

				padding-left: 8px;

				color: lighten($black, 40%);

				@include transition(all 0.25s ease-in-out);

			}

		}

	}

}

.copyright{

	background-color: #232525;

	padding: 25px 0; 

	p{

		margin: 0;

		font-size: 13px;

		color: lighten($black, 39%);

	}

}

.social_media{

	padding-left: 0;

	li{

		margin:{

			bottom: 10px;
		
			right: 12px;

		}

		display: inline-block;

		a{
			
			width: 40px;

			height: 40px;
			
			font-size: 17px;

			text-decoration: none;

			border: 1px solid #fff;

			display: block;

			padding: 9px 12px;

			@include border-radius(100%);

			@include pie;

			i{

				width: 20px;

				vertical-align: top;

				display: block;

				color: lighten($black, 70%);

				@include transition(all 0.3s);

				margin: 0 auto;

			}

			&:hover{

				.fa{

					color: $primary;

				}

			}

		}

	}

}

.news-letter-box{

	@media #{$break-xlarge, $break-large, $break-medium, $break-small, $break-little}{

		padding: 0;

		margin-bottom: 10px;

		.btn-grey{

			float: left !important;
		}

	}

	
	h3{
		
		font-size: 17px;

	}

	.input-group{

		width: 100%;
		
		input{

			height: 60px;

			border: 1px solid #fff;

			background-color: transparent;

			padding: 10px 8px;

		}

	}

	.checkbox{

		color: #fff;

		font-size: 12px;

	}
	
}

.clients-list{

	padding-left: 0;

	margin-bottom: 35px;

	@media #{$break-xlarge, $break-large, $break-medium, $break-small, $break-little}{

		margin-bottom: 0;

	}


	strong{

		display: block;

		color: #fff;

		margin-bottom: 20px;

	}

	list-style: none;

	li{
	
		display: inline-block;

		margin:{

			right: 15px;

			bottom: 10px;

		}

	}

}