.order-block{

	h1{

		font-size: 38px;

		font-weight: 700;

		margin-top: 0;

		margin-bottom: 20px;

		color: lighten($black, 100%);

	}

  .btn-sea-green{

    font-size: 25px;

    padding: 3px 45px;
    
  }

}