$fontsPath: "../assets/fonts/";

$polyfillsPath: "../assets/polyfills/";


/* START COLORS VARIABLES */

// pink
$primary: #e41c6d;
// orange
$secondary: #f2951e;

$grey: #b3b3b3;

$sea-green: #1d8789;

$black: #000;


/* START FONT-FACE VARIABLES */

$arial: Arial, Helvetica, sans-serif;

$ubuntu-regular: 'ubuntu-regular';

$ubuntu-light: 'ubuntu-light';